<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paweł Żurawski Portfolio</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/icon_small.png">

</head>
<body>
    <div class="main_container">
        <header>

            <div class="dots">
                <div class="greenDot"></div>
                <div class="redDot"></div>
                <div class="whiteDot"></div>
            </div>

            <div class="header_welceome">
                <h1>MESSAGE SENT</h1>
                <h2 class="rajdhani-medium">I will apply soon!</h2>
            </div>

        </header>




    </div>


</body>
</html>