<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paweł Żurawski Portfolio</title>


    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/img/icon_small.png">

    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=KMrKMBYZEZA8WDrHxDmYzYU09wMBffi84kQUMQU1shkEsRmhxmg2qxV8JpT1-7BLhL2l0qtgRYM3SZdrk0vlVL9TW6e1KKAqIrVly2JFlHy4-Db0kgBHhPlpVtiKx5Cu5CuZEDucg-q-w3FvI3aa9JW8VmvRjP0QUimJQYEGLC0" charset="UTF-8"></script>
</head>
<body>
    <div class="main_container">
        <header>
            <div class="dots">
                <div class="greenDot"></div>
                <div class="redDot"></div>
                <div class="whiteDot"></div>
            </div>

            <div class="header_welceome">
                <h1>Hi, I'm <span>Paweł Żurawski</span></h1>
                <h2 class="rajdhani-medium">and I'm a Computer Science and Econometrics Student.</h2>
            </div>

            <button class="button">KEEP IN TOUCH</button>
        </header>

        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="datasets.html">PORTFOLIO PROJECTS</a></li>
                <li><a href="indexCourse.html">PYTHON COURSE</a></li>
            </ul>
        </nav>

        <div class="about-me">
            <div class="about-me-text">
                <div style="display:flex; width:100%;" class="meIMG">
                    <img src="../static/img/LinkedinImage.jpg" alt="" style="width:29%; height:30%; border-radius:50%; margin-right:10%">
                    <p class="rajdhani-medium" style="width:60%"> Cześć! 👋 <br>
                    Mam na imię Paweł i jestem studentem piątego roku kierunku Analiza Danych – Big Data w Szkole Głównej Handlowej w Warszawie. Studia licencjackie ukończyłem na SGGW na kierunku Informatyka i Ekonometria z wynikiem bardzo dobrym.

                    Od początku mojej edukacji informatyka była moim ulubionym przedmiotem. Swoją przygodę rozpocząłem od nauki technologii webowych i tworzenia prostych stron internetowych. W liceum uczęszczałem na profil matematyczno-fizyczny, rozszerzając matematykę, fizykę i język angielski. W wolnym czasie, z własnej inicjatywy, uczyłem się także geografii. Od najmłodszych lat czułem, że przedmioty ścisłe są mi bliższe niż humanistyczne, a intensywne przygotowania do matury rozwinęły u mnie analityczne i logiczne myślenie.

                    Dobrze opanowany materiał z matematyki sprawił, że chętnie podejmę się również pomocy w nauce tego przedmiotu dzieciom i młodzieży, w tym w przygotowaniach do matury. Na studiach rozwijałem swoje umiejętności programistyczne na wielu przedmiotach i fakultetach, zdobywając doświadczenie w pracy z różnymi językami programowania. Najwięcej czasu poświęciłem C# oraz Pythonowi. To właśnie Python stał się moim ulubionym językiem — cenię go za prostotę, uniwersalność i wszechstronność.</p>
                </div>

                <h3><span>O KURSIE</span> PYTHON</h3>
                <h2>🚀 Programowanie w języku Python – dla dzieci i młodzieży!</h2>
                <p class="rajdhani-medium">Prowadzę przyjazne korepetycje z programowania w Pythonie – od zupełnych podstaw dla dzieci i młodzieży, kończąc na fajnych i rozwijających mini gierkach. Zajęcia dostosowuję do poziomu uczniów i prowadzę w przystępny sposób – krok po kroku, bez stresu.</p>

                <div class="rajdhani-medium" style="padding-bottom:0; font-weight:700">
                    📌 Na zajęciach uczymy się m.in.:
                    <ul class="rajdhani-medium" style="display:initial;">
                        <li style="padding:0; line-height:1.2; font-weight:600"><br>Jak działa Python?</li>
                        <li style="padding:0; line-height:1.2; font-weight:600"><br>Co to są zmienne, pętle, funkcje?</li>
                        <li style="padding:0; line-height:1.2; font-weight:600"><br>Jak tworzyć proste programy i gry (np. z użyciem turtle)</li>
                        <li style="padding:0; line-height:1.2; font-weight:600"><br>Jak myśleć jak programista – logicznie i kreatywnie</li>
                    </ul>
                    <br><br><br>

                    <p class="rajdhani-medium">
                        Dla uczniów tworzę dodatkowe materiały video i prezentacje, które pomagają powtórzyć materiał w domu – nawet jeśli coś umknęło na zajęciach. Dodatkowo staram się urozmaicać zajęcia Quizami podsumowującymi lekcje, dodatkowymi ćwiczeniami oraz zadaniami dla chętnych. Tworzę też wspólny klan w grze uczącej programowania - wspiera ona rozwój logicznego i analitycznego myślenia. Uczniowie będą mogli się trochę oderwać od konkretnej nauki ale jednocześnie cały czas się rozwijać i dodatkowo porywalizować trochę pomiędzy sobą :) Oczywiście jest to opcjonalne, uczeń sam będzie decydował czy chcę na to poświęcać czas.
                        <br><br>
                        Zajęcia prowadzę zdalnie (online), elastyczne godziny, przyjazna atmosfera. 👥
                        <br>Planuję zajęcia w mini grupach do ok. 3-5 osób, ale po uzgodnieniu mógłbym prowadzić również zajęcia samodzielnie z jednym uczniem. Myślę, że odpowiedni wiek ucznia do wzięcia udziału w kursie to 10-13 lat. Pierwsze zajęcia odbędą się pewnie na początku września/października 2026. Później ustalimy konkretne dni i godziny zajęć.
                        <br><br>
                    </p>

                    <p style="text-align:center" class="rajdhani-medium">
                        <b><span style="font-size:1.5rem; text-align:center; color:white">💻 Chcesz nauczyć się Pythona? 🚀
                        <br>Twórz własne programy i proste gry 🎮 – zacznij swoją programistyczną przygodę już dziś!
                        <br>Wyślij wiadomość email z tytułem "KURS PYTHON" <br>na adres <span>zurawski.paawel@gmail.com</span> i startujemy! 📩</span></b>
                    </p>
                    <br><br><br><br><br><br>
                </div>
            </div>

            <div class="about-me-image">
                <div class="image_box"></div>
            </div>
        </div>

        <footer id="contact">
            <div class="footer-text">
                <h3>SKONTAKTUJ SIĘ</h3>
                <p class="rajdhani-medium">Zachęcam do bezpośredniego kontaktu poprzez e-mail na moją skrzynkę pocztową pod adresem <span>zurawski.paawel@gmail.com</span>. Dołożę wszelkich starań, aby odpowiedzieć na każdą wiadomość, która zwróci moją uwagę. Poniżej znajdziesz linki do moich innych profili internetowych.</p>
            </div>

            <div class="rights">
                <div class="socials">
                    <div class="white-square">
                        <div class="social"><a href="https://www.github.com/zurawskii" target="_blank"><img src="../static/socials/4.png" alt=""></a></div>
                        <div class="social"><a href="https://www.linkedin.com/in/pawelzurawski/" target="_blank"><img src="../static/socials/1.png" alt=""></a></div>
                    </div>
                </div>
                <h3 class="rajdhani-semibold">Paweł Żurawski Portfolio &copy;  All rights reserved <script>document.write(new Date().getFullYear())</script></h3>
                <a href="https://www.flaticon.com/free-icons/github" title="github icons" id="freepik" style="color:white;text-decoration:none;font-size: 10px;">Icons Designed by Freepik</a>
            </div>
        </footer>

    </div>

    <script>
        document.querySelector('.button').addEventListener('click', function() {
            document.getElementById('contact').scrollIntoView({
                behavior: 'smooth'
            });
        });
    </script>

</body>
</html>